[Unit]
Description=Pipeline Watcher Service
After=default.target

[Service]
Type=simple
WorkingDirectory={{ home }}/watcher
ExecStart=/usr/bin/python3 {{ home }}/watcher/watcher.py
Environment=HOME={{ home }}
Environment=TOWER_ACCESS_TOKEN=1234567890
RemainAfterExit=True

[Install]
WantedBy=default.target